@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #000;
  --text-color: #fff;
}

@layer utilities {
  .app-scrollbar {
    @apply scrollbar-thin scrollbar-thumb-blue-600 scrollbar-track-black scrollbar-corner-black scrollbar-track-rounded-lg scrollbar-thumb-rounded-lg scrollbar-corner-rounded-lg;
  }
}

main {
  @apply min-h-screen !min-h-[100svh] px-4 py-2 mx-auto max-w-7xl flex flex-col;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  @apply my-4 text-3xl font-bold;
}

h2 {
  @apply my-4 text-lg font-semibold;
}

p {
  @apply my-1;
}

button {
  @apply flex items-center justify-center px-4 py-2 transition-all duration-200 border border-current rounded-lg text-inherit active:scale-95 disabled:cursor-not-allowed;
}

a {
  @apply text-blue-400;
  color: color-mix(in srgb, #60a5fa 100%, currentColor 20%);
}
